<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>index</title>
</head>

<body>
  <p>
    <a href="/logout">ログアウト</a>
  </p>
  <h1>Lec02 GET!</h1>
  <p>エントリー</p>
  <div th:if="${entry}">
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <p th:if="${loginUser}">
    Hi [[${loginUser}]]
  </p>
  <a href="/lec02?hand=0">ぐー</a>
  <a href="/lec02?hand=1">ちょき</a>
  <a href="/lec02?hand=2">ぱー</a>
  <p>
  <div><a th:text="${Hand}"></a></div>
  <div><a th:text="${Cpu}"></a></div>
  <div><a th:text="${Result}"></a></div>
  </p>
</body>

</html>
